.menu-bar {
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-bar li {
  display: inline;
  margin-right: 10px; /* Adjust the value as needed */
}

.menu-bar li a {
  display: inline-block;
  padding: 20px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
}